body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	background-color: #334155;
}

html {
	background-color: #334155;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// todo: poppins font
header {
	background-color: #171717;
	color: white;
	display: flex;
	align-items: center;
	padding: 1rem;
}

.header__logoimage {
	margin-left:13rem;
}

.events {
	font-size: 1.2rem;
	margin-left: 15rem;
	margin-right: 15rem;
	margin-top: 5rem;
	background-color: #171717;
	color: white;
	padding: 2rem;

	&__title {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}

	&__table {
		&__row {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			font-weight: bold;
			padding: 0.5rem;
		}
	}
}

h2 {
	font-weight: 900;
}

.red-text {
	color: #FCA5A5;
}

.yellow-text {
	color: #FCD34D
}
